.ret-branco {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 253px;

    background: #FFFFFF;
    border-radius: 15px 0px 0px 15px;
}

.ret-verde {
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 750px;
    min-height: 400px;
    background: #3BDB43;
    border-radius: 0px 15px 15px 0px;
    align-items: center;
}

.simuleh1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
}

.subTitulo {
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    padding-left: 20px;

}

.renda {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 10px;

}

.inserir {
    display: flex;
    padding-left: 20px;
    height: 30px;
    width: 200px;
    margin-left: 20px;
    border-radius: 3px;
    border: solid 1px gray;
}

.botao {
    border-radius: 15px;
    height: 40px;
    width: 140px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    background-color: #0CE817;
    border: none;
    color: white;
    font-weight: bold;
    border: none;
}

.card1 {
    margin-top: 30px;
    margin-left: 20px;
    height: 120px;
    width: 600px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    text-align: center;

}

.card {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 80px;
    border-radius: 10px;
    width: 300px;
    align-items: baseline;
    margin-left: 40px;


}

.container-setor {
    display: flex;
    flex-wrap: wrap;
}


.divcima {

    margin-top: 5px;
    background-color: #0A600E;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 20px;
    margin-left: 260px;
}

.card h6 {
    cursor: pointer;
    color: white;
}
.card1 h6 {
    cursor: pointer;
    color: white;
}

.card h5 {
    position: absolute;
}

.card img {
    margin-top: 25px;
}

.card h2 {
    margin-top: 5px;
    position: absolute;
}

.card1 img {
    margin-top: 40px;
    margin-right: 450px;
    height: 60px;
    width: 60px;
}

.img1 {
    position: absolute;
    margin-right: 200px;
}

.imgGeral {
    position: absolute;
}

#div_vestuarios,
#div_cosmeticos,
#div_alimenticio,
#div_mercados {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bolder;
}

#div_geral {
    margin-top: 55px;
    font-size: 40px;
    font-weight: bold;

}

.divcima1 {
    margin-top: 5px;
    background-color: #0A600E;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 20px;
    margin-left: 550px;

}

.exclamacao{
    width: 7rem;
    height: 20rem;
    position: absolute;
    right: 5rem;
    display: flex;
    flex-direction: column;
}

.material-symbols-outlined{
    font-size: 50px; 
    color: #3BDB43;
    background-color: transparent;
    border: 0;
    height: 3rem;
    
    top: 2rem;
    right: 5rem;
    justify-content: center;
}

.msg_exclamacao{
    background-color: #FFFFFF;
    color:black;
    border-radius:9px;
    border:0.7px solid #0CE817;
    height: 14rem;
    width: 7rem;
    text-align: center;
    margin-top: 3rem;

    display:none;
}

.msg_exclamacao p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2rem;
}