@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #1C1C1C;
    background-size: cover;
    overflow: hidden;
}
nav a{
    color: white;
    text-decoration: none;
}
nav img{
    width: 90px;
    height: 90px;
}
nav{
    display: flex;
    align-content: space-between;
    align-items: center;
    font-size: 20px;
    height: 13vh;
    width:100vw;
    position: fixed;
    top: 0px;
    background-color: #111111;
    justify-content: space-between;
}
.navLinks{
    width: 40%;
}
.logo img{
    margin-left: 20px;
    margin-top: 20px;

}
.nav-list{
    margin-right: 40px;
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-list li{
    letter-spacing: 3px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-right: 25px;
}
.contato{
    background-color: #00FF43;
    color: black;
    border-radius: 15px;
    width: 180px;
    height: 35px;
    font-size: 18px;
    font-weight: 700;
    border: black;
}   

.container{
    padding-left: 84px;
    padding-right: 84px;
    margin-top: 13vh;
}

.page-title{
    width: max-content;
    margin-top: calc(13vh + 35px);
}

.page-title h1{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.page-title div{
    width: 35%;
    height: 9px;
    background: #0CE817;
    border-radius: 20px;
}
