@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: #1C1C1C;
    background-size: cover;
    overflow: hidden;
}
nav a{
    color: white;
    text-decoration: none;
}
nav{
    display: flex;
    align-content: space-between;
    align-items: center;
    font-size: 20px;
    height: 13vh;
    width:100vw;
    position: fixed;
    background-color:transparent;
    justify-content: space-between;
}
.navLinks{
    width: 40%;
}
.logo img{
    margin-left: 20px;
    margin-top: 20px;
    height: 70px;
    width: 70px;
}
.nav-list{
    margin-right: 40px;
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 16px;
    margin-right: 32px;
}
.contato{
    background-color: #00FF43;
    color: black;
    border-radius: 20px;
    width: 160px;
    height: 40px;
    font-size: 18px;
    border: black;
}
