.principal {
    background-color: white;
    width: 100%;
    height: 28%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.principal .texto {
    color: black;
    display: flex;
    width: 40%;
    align-items: center;
    padding: 40px 25px;
    border-radius: 10px;
}

.texto span {
    font-weight: 700;
}

.principal .imagem {
    background-image: url('../img/sobre_nos.jpeg');
    background-size: cover;
    background-position: center;
    width: 45.7%;
}

.principal img {
    display: flex;
    width: 400px;
    height: 175px;
}

.container .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    gap: 30px;  
}

.social .card {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 5px;
    background-color: #00ff43;
    box-shadow: -9px 9px 0px 0px #0a600e;
    border-radius: 8px;

    margin-left: 0px;
}

.card p {
    color: white;
}

.card h1 {
    color: white;
    text-transform: uppercase;
}

.card li {
    color: white;
}